.App nav ul {
  list-style: none;
}

.App nav ul li {
  display: inline-block;
  margin: 10px;
}
form {
  margin: 10px auto;
  width: 300px;
}
label {
  display: block;
}

label + label {
  margin-top: 10px;
}
[type=submit] {
  margin-top: 10px;
} 
label::after, form::after {
  content: '';
  height: 0;
  display: table;
  clear: both;
}

input {
  float: right;
}

table {
  margin: 10px auto;
  border-spacing: 0;
  width: 70%;
}

td {
  text-align: center;
}

table, td, th {
  border: 1px solid gray;
}



